
</div>
<div class="footer-padding"></div>
  <div class="footer">
    <p>Built by Bharath Gorental using his online course 'Full Stack Developer'. &copy; 2020 by bharath gorental</p>
    <!-- <p>Made with ❤️ by Bharath Gorental</p> -->
  </div>
</div>
</body>
</html>
